/* 公共样式 */
html {
  background: #ff50ac;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* PC规则，桌面版，desktop */
.desktop {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
}
.desktop-header {
  overflow: hidden;/* BFC */
  height: 86px;
  line-height: 86px;
  width: 100%;
}
.desktop-header-l {
  display: flex;
  height: 100%;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.desktop-header-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
}
.desktop-header-r nav ul li {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 12px;
}
.desktop-header-r a {
  color: #fff;
  text-decoration: none;
}
.desktop-nav-active {
  position: relative;
  border-top: solid;
  border-color: #fff;
  border-width: 4px;/* 这里的4px会导致整体的变高4px，如何解决呢？ */
}
.mobile {
  display: none;
}
/* 媒体查询断点，移动端规则 */
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    color: #fff;
    opacity: 0.7;
    margin-top: 1.28rem;
  }
}